@model List<WebApplication.Models.ViewTaskModel>

<!DOCTYPE html>
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetRandomTask</title>

    <link href="~/Content/bootstrapLight.css" rel="stylesheet" />
</head>
<body>
        <table class="table">
    @foreach (var item in Model) {
        <tr>
            <td class="col-md-12">
                <a href="@Url.Action("ViewTask","Client",new{taskId = item.Id})">@item.Name</a>
            </td>
       </tr>
    }
    
    </table>
</body>
</html>
