@{
    List<string> tagsName = ViewBag.Name;
}
<div class="col-lg-6 col-md-6 form-group">
        @for (int i = 0; i < tagsName.Count; i++)
        {
            <div><a href="@Url.Action("ViewTaskList", "Task", new {categoryName = tagsName[i]})">@tagsName[i]</a></div>            
        }
</div>
