@model IEnumerable<BusinessLogic.Interface.Entities.AnswerEntity>
<div>Answered</div>
@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("ViewTask", "Task", new {taskId = item.Id })">@item.Name</a>
        </td>
    </tr>
}

