@model List<WebApplication.Models.ViewTaskModel>

<div>
    <h4>Last Task:</h4>
    @foreach (var taskmodel in Model)
    {
        <dl class="dl-horizontal">
            <dt>
                <a href="@Url.Action("ViewTask", "Task", new { taskId = taskmodel.Id })">@taskmodel.Name</a>
            </dt>
        </dl>
    }
</div>

